<body>
    <div class="contact-form">
        <img class="meeting" src="\assets\meeting.jpeg" alt="Team Meeting">
        <div class="form-content">
            <h1>Contact Us</h1>
            <p>Connect with Us.<br>Let's start a conversation.</p>
            <form class="form-details" action="#" method="post">
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Full Name" required>
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Email address" required>
                </div>
                <div class="input-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" placeholder="Your feedback matters to us." rows="4" required></textarea>
                </div>
                <button class="sent-message" type="submit">Send message</button>
            </form>
        </div>
    </div>
</body>