


<body>
<h1>Our Journey</h1>
<h6>From startup to industry leader, our evolution story</h6>
<div class="split-background">
   <div class="center-image">
    <img src="/assets/journey.jpeg" class="img-fluid" alt="team">
   </div>
<h4> Key Statistics</h4>
<div class="journey">
<div class="rows">
  <div class="column">
    <div><h3>Establis</h3></div>
    <span class="subtext">Established in</span>
  </div>
  <div class="column">
    <div><h3>Impactin</h3></div>
    <span class="subtext">Teams leveraging Embark's</span>
  </div>
  <div class="column">
    <div><h3>Financia</h3></div>
    <span class="subtext">Investment</span>
  </div>
</div>
</div> 
</div>
<h1>Meet Our Team</h1>
<h6>Faces Behind Our Innovative Solution</h6>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="/assets/boy1.jpeg" class="card-img-center" alt="boy1" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Sankalp Jain</h5>
          <p class="card-text">Founder & CEO & CTO</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/boy2.jpeg" class="card-img-center" alt="boy2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Ashwin Taparia</h5>
          <p class="card-text">Co-Founder & COO</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/boy3.jpeg" class="card-img-center" alt="boy3" style="width: 19rem; height: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Rishi Raj</h5>
          <p class="card-text">Marketing Head</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/boy4.jpeg" class="card-img-center" alt="boy4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Raushan Kumar Singh</h5>
          <p class="card-text">Lead Designer & Developer</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="/assets/girl1.png" class="card-img-center" alt="girl1" style="width: 17.5rem;">
          <div class="card-body">
            <h5 class="card-title">Akanchha Rani</h5>
            <p class="card-text">Developer</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/assets/girl2.jpeg" class="card-img-center" alt="girl2" style="width: 20rem; height: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Bhawna Anand</h5>
            <p class="card-text"> Developer</p>
          </div>
        </div>
      </div>
  </div>
</body>