


<body>
<h1 class="heading">Discover our Company's Vision</h1>
<div class="card mb-3" >
    <div class="row g-0 p-3 mb-2 bg-white text-dark">
      <div class="col-md-4">
        <div class="card-body">
            <h5 class="card-title">Explore Our Values</h5>
            <p class="card-text">Learn About Our Journey</p>
            <p class="card-text"><button type="button" class="btn btn-dark">Learn More</button></p>
        </div>
     </div>
      <div class="col-md-8">
        <img src="/assets/explore.jpeg" class="img-fluid rounded float-end" alt="team" height="60%" width="60%">
      </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row g-0 p-3 mb-2 bg-secondary-subtle text-secondary-emphasis">
      <div class="col-md-4">
        <img src="/assets/commities.jpeg" class="img-fluid rounded-start" alt="commiti" height="" width="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Our Commitment to</h5>
          <p class="card-text">Our Company's Impact on the Industry</p>
          <p class="card-text"><button type="button" class="btn btn-light">Get Involved</button></p>
        </div>
      </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="row g-0 p-3 mb-2 bg-white text-dark">
      <div class="col-md-4">
        <div class="card-body">
            <h5 class="card-title">Empowering the Digital Supply Chain</h5>
            <p class="card-text">Transforming Values Creation in the Supply Chain</p>
            <p class="card-text"><button type="button" class="btn btn-dark">Explore More</button></p>
        </div>
     </div>
      <div class="col-md-8">
        <img src="/assets/discover.jpeg" class="img-fluid rounded float-end" alt="empowing" height="60%" width="55%">
      </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="row g-0 p-3 mb-2 bg-secondary-subtle text-secondary-emphasis">
      <div class="col-md-4">
        <div class="card-body">
            <h3 class="card-title">Discover our talented team members</h3>
            <p class="card-text">Passionate about your success</p>
        </div>
     </div>
      <div class="col-md-8">
        <img src="/assets/teams.jpeg" class="img-fluid rounded float-end" alt="laptop" height="60%" width="55%">
      </div>
    </div>
</div>
</body>