<% if(success && success.length){ %>
    <div id="successPopup" class="alert alert-success alert-dismissible fade show popup" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if(error && error.length){ %>
    <div id="errorPopup" class="alert alert-danger alert-dismissible fade show popup" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<script>
    // Function to show pop-up on page load
    window.onload = function() {
        var successPopup = document.getElementById('successPopup');
        var errorPopup = document.getElementById('errorPopup');
        
        if (successPopup) {
            successPopup.classList.add('show');
        }
        if (errorPopup) {
            errorPopup.classList.add('show');
        }
    };
</script>
