<footer class="pt5 pb-4">
    <div class="contanier text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6>Follow Us:
                &nbsp;<i class="fa-brands fa-facebook fa-xl"></i>&nbsp;&nbsp;
                <i class="fa-brands fa-instagram fa-xl"></i>&nbsp;&nbsp;
                <i class="fa-brands fa-linkedin fa-xl"></i>&nbsp;&nbsp;
                &nbsp;<i class="fa-brands fa-twitter fa-xl"></i></h6>
            </br> 
                <img src="/assets/logo2.png" alt="logo" height="100px" width="140px">
                <p>2024 © SKYNET </br>
                 All rights Reserved.</p>
            </div>
            <br> <br> <br> <br>
            <div class="link-1 col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <p><a class="f-link" href="#">Home</a></p>
                <p><a class="f-link" href="#">About Us</a></p>
                <p><a class="f-link" href="#">Contact</a></p>
            </div>
            <div class="link-2 col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <p><a class="f-link" href="#">Mission</a></p>
                <p><a class="f-link" href="#">Value</a></p>
                <p><a class="f-link" href="#">Purpose</a></p>
            </div>
            <div class="link-3 col-md-4 col-lg-2 col-xl-2 mx-auto mt-3">
                <p><a class="f-link" href="#">Terms</a>
            </div>
        </div>
    </div>
</footer>