<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Skynet logo placeholder -->
        <img src="/assets/logo2.png" alt="Skynet Logo">  
      <!-- Navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vision</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
      <!-- Globe icon placeholder -->
      <span class="navbar-text">
          <img src="/assets/language.png" alt="language">
      </span>
    </div>
  </nav>