<nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="/home">
        <img src="/assets/logo2.png" alt="SKYNET" width="160" height="80">
      </a>
        <form class="d-flex" method="post" action="/home/search" enctype="multipart/form-data">
          <input class=" s-box form-control me-2 rounded-pill" type="search" placeholder="Search" aria-label="Search" value="<%=q%>" name="search[q]"> 
          <span class="mag-glass">
            <i class="fa-solid fa-magnifying-glass fa-lg" ></i>
          </span>
        </form>
        <i class="fa-solid fa-camera fa-xl" ></i>
        <i class="fa-solid fa-microphone fa-xl" ></i>
        <img class="language" src="/assets/language.png" width="50px" height="50px">
        <i class="fa-solid fa-user fa-xl" ></i>
        <i class="fa-solid fa-bars fa-xl" ></i>
    </div>
</nav>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="#">Search</a>&nbsp;&nbsp;
          &nbsp;&nbsp;<a class="nav-link" href="#">Image</a>
          &nbsp;&nbsp; <a class="nav-link" href="#">News</a>
          &nbsp;&nbsp; <a class="nav-link" href="#">Trending</a>
        </div>
        <a class="link" href="#">: More</a>
      </div>
    </div>
  </nav>