<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/skynetAI.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <script type="importmap">
            {
              "imports": {
                "@google/generative-ai": "https://esm.run/@google/generative-ai"
              }
            }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skynet</title>
</head>

<body>

    <%- include('../includes/flash.ejs')%>

        <div class="body">
            <%-body%>
        </div>

            <script src="/js/skynetAI.js"></script>
        <!-- <script type="module" src="/js/ai.js"></script> -->
</body>
</html>