<% if (chatHs && chatHs.history && chatHs.history.length >= 2) { %>
    <% for (let i = 0; i < chatHs.history[0].parts.length; i++) { %>
        <div>
            <p>User: <%= chatHs.history[0].parts[i].text %></p>
            <% if (chatHs.history[1].parts[i].text == 'Hello! I am Skynet, a multi-modal AI language model developed by Twoward Technology') { %>
                <% i = i+1; %>
                <% console.log("con1 trig"); %>
                <p>Skynet: <%= formatText(chatHs.history[1].parts[i].text) %></p>
                <% i = i-1;%>
            <% } else { %>
                <% i = i+1; %>
                <% console.log("con2 trig"); %>
                <p>Skynet: <%= formatText(chatHs.history[1].parts[i].text) %></p>
                <% i = i-1;%>
            <% } %>
        </div>
    <% } %>
<% } %>


    <form id="newChatForm" method="POST" action="/ai" enctype="multipart/form-data">
        <input type="hidden" name="_id" value="<%= chatHs ? chatHs._id : '' %>">
        <input name="ai[input]">
        <input type="file" name="file">
        <button type="submit">Submit</button>
    </form>


<button id="newChatButton">Start New Chat</button>

<script>
    const newChatButton = document.getElementById('newChatButton');
    newChatButton.addEventListener('click', () => {
        document.getElementById('newChatForm').reset();
        document.querySelector('input[name="_id"]').value = '';
    });
</script>
