* {
    padding: 0;
    margin: 0;
}
.card-img-center{
    border: 1px solid rgb(190, 190, 190);
    border-radius: 15px;
    margin-top: 20px;
}
.card{
    border: none;
    margin-left: 50px !important;
    margin-right: 50px !important;
}
.card-body{
    margin-left: 25px;
    color: gray;
}
.card-title{
    margin-left:-6%;
}
h1{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    color: rgb(65, 65, 65);
}
.card-text{
    color: rgb(146, 146, 146) !important;
    margin-top: -10px;
    margin-left: -3%;
}
h6{
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(172, 172, 172);
    margin-top: 3%;
    font-size: 20px;
}
.center-image{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center-image img{
    border-radius: 25px;
    margin-top: 2%;
}
h4{
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(89, 84, 84);
    margin-top: 2%;
}
.rows {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  h3{
    color: rgb(67, 67, 67);
  }
  
  .column {
    flex: 1;
  }
  
  .subtext {
    display: block;
    margin-top: 20px;
    color: rgb(91, 87, 87);
  }
  .split-background {
    height: 100vh;
    background: linear-gradient(to bottom, #ffffff 35%, #e9e9e9 45%);
  }
  h5{
    color: rgb(87, 86, 86) !important;
  }