/* LIGHT MODE */

*{
    padding: 0;
    margin: 0;
}
.container{
    padding: 0px !important;
}
.s-box{
    margin: 0px;
    padding: 0px;
}
.navbar{
    background-color: rgb(243, 243, 243);
    color: #a1a1a1;
}
.navbar-brand{
    margin-left: -65px;
    z-index:1000 ;
    background-color: rgb(243, 243, 243);
}
.d-flex{
    width: 75% !important;
    margin-left: -425px;
    margin-top: -10px;
}

.fa-magnifying-glass{
    margin-top: 30px;
    margin-left: -10%;
    color: #a1a1a1;
}
.mag-glass{
    margin-left: -5%;
}
.fa-camera{
    margin-left: -45% !important;
    color: black;
}
.fa-microphone{
    margin-left: -25% !important;
    color: black;
}
.language{
    margin-right: -25% !important;
}
.fa-user{
    margin-right: -24% !important;
    color: black;
}
.fa-bars{
    margin-right: -2% !important;
    color: black;
}
.navbar-nav{
    margin-left: 11%;
}
.link{
    margin-left: 18% !important;
    text-decoration: none;
    color: #999999;
}
.link:hover{
    color: black;
}
.fa-solid:hover{
   cursor: pointer;
}
.language:hover{
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .navbar{
        background-color: #363535 !important;
    }
    .navbar-brand{
        background-color: transparent !important;
        filter: invert(100%);
    }
    .fa-camera{
        color: white;
    }
    .fa-bars{
        color: white;
    }
    .fa-microphone{
        color: white;
    }
    .fa-user{
        color: white;
    }
    .fa-magnifying-glass{
        color: white;
    }
    .d-flex input{
        background-color: #656565;
    }
    .language{
        filter: invert(100%);
    }
    .s-box::placeholder{
        box-shadow: none !important;
    }
    .s-box{
        background-color: rgb(105, 105, 105);
        color: #ffffff !important;
    }
    .s-box::placeholder{
        color: #ffffff;
    }
    .s-box:focus{
        background-color: rgb(105, 105, 105) !important;
        outline: none !important;
        border: 1px solid white;
        box-shadow: none !important;
    }
    .container-fluid{
        background-color: #363535 !important;
    }
    .navbar-nav a{
        color: #ffffff !important;
    }
    .link{
        color: #ffffff;
    }
    .link:hover{
        color: rgb(236, 236, 236);
    }
    
}
.menu-drop {
    display: none;
    /* Hide by default */
    position: fixed;
    top: 80px;
    /* Adjust as needed */
    right: 15px;
    background-color: #141414;
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 10px;
    z-index: 1000;
    /* Ensure it's on top */
    color: white;
    height: 265px;
    width: 200px;
    transition: opacity 5s ease 5s;
  
  }
  .menu-drop{
    animation: fadeIn 200ms;
  }
  
  
  
  .menu-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 15px;
    padding-right: 30px;
    position: relative;
    /* Added for relative positioning */
  }
  
  .icon {
    margin-right: 15px;
  }
  
  .dropdown-arrow {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 20px;
    vertical-align: middle;
  }
  .menu-item span:hover {
    cursor: pointer;
  }
  
  .radio-option:hover {
    cursor: pointer;
  }
  
  .dropdown-arrow:hover {
    cursor: pointer;
  }
  
  .fa-bars:hover {
    cursor: pointer;
  }
  
  .theme-options {
    display: none;
    flex-direction: column;
    padding-left: 20px;
  }
  
  .radio-option input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    position: relative;
    background-color: transparent;
  }
  
  .radio-option input[type='radio']:checked {
    background-color: #042c4b;
  }
  
  .radio-option input[type='radio']:checked::after {
    content: '';
    position: relative;
    top: 1px;
    left: 1px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  
  .theme-options .radio-option input[type='radio']:checked {
    background-color: #4297d8;
  }
  
  
  .radio-option {
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  
  .dropdown-arrow {
    transition: transform 0.3s ease-in-out;
  }
  
  /* Added style for cut mark icon */
  .fa-xmark {
    position: absolute;
    top: 30px;
    right: 20px;
    color: #fff;
    z-index: 1000;
  }
  
  .close-icon:hover {
    cursor: pointer;
  }
  
  .close-icon {
    transition: transform 0.3s ease-in-out;
  }
  