*{
    padding: 0;
    margin: 0;
}
.navbar-brand{
    margin-left: -70px;
}
.d-flex{
    width: 50% !important;
    margin-left: -25%;
}
.fa-magnifying-glass{
    margin-left: -43px;
    margin-top: 17px;
}
.fa-camera{
    margin-left: -20% !important;
}
.fa-microphone{
    margin-left: -20% !important;
}
.language{
    margin-right: -20% !important;
}
.fa-user{
    margin-right: -20% !important;
}
.fa-bars{
    margin-right: -2% !important;
}
.navbar-nav{
    margin-left: 10%;
}
.link{
    margin-left: 22% !important;
    text-decoration: none;
    color: #999999;
}
.link:hover{
    color: black;
}
