@import url("https://fonts.googleapis.com/css?family=Open+Sans|Sacramento");
html {
  font-size: 14.5px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.45em;
  background-color: #ffffff;
  color: #404646;
  margin: 0;
  padding: 0;
}
.main-container {
  margin-top: 10px;
  height: 53%;
  background-color: rgb(227, 227, 227);
  border-radius: 20px !important;
  width: 110% !important;
  margin-left: -5%;
}

.grid-container {
  margin-top: 48px;
  display: grid;
  grid-gap: 1.1312rem;
  grid-template-columns: repeat(auto-fit, 12.8rem);
  grid-auto-rows: 12.8rem;
  grid-auto-flow: dense;
  justify-content: center;
  max-width: 75em;
}

.card {
  grid-row: auto/span 1;
  grid-column: auto/span 1;
  background-color: rgb(247, 247, 247);
  border-radius: 20px !important;
  box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
  margin-top: 35px;
}
.card__image {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
}
.card__image img {
  height: 100%;
  border-radius: 20px !important;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card--2x {
  grid-row: auto/span 2;
  grid-column: auto/span 2;
}
.search-heading{
  display: flex;
  color: black;
  margin-top: 30px;
  margin-left: -30px;
}
.demo a{
  color: rgb(48, 48, 48);
}
.demo img{
  margin-left: 95%;
  margin-top: -15%;
  border-radius: 15px;
}
.page-link{
  display: flex !important;
  margin-left: 25%;
  margin-top: -5%;
}
.page-link li{
  list-style-type: none;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 5%;
}
.page-link li:hover{
  text-decoration: 4px underline !important;
  cursor: pointer;
}

.chat-container {
  position: relative;
  width: 350px;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  border:1px solid rgb(125, 125, 125);
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: 20%;
  box-shadow: 0 2px 10px rgba(15, 15, 15, 0.4);
}
#Layer_1{
  background-color: none;
  filter: invert(10%);
}

.chat-header {
  padding: 15px;
  text-align: left;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  background-color: #ffffff;
  position: relative;
}

.chat-header i {
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.chat-body {
  padding: 15px;
  background-color: #ffffff;
  height: 400px;
  width: 100%;
  overflow-y: auto;
}

.chat-body i {
  margin-right: 5px;
}

.chat-body p {
  color: #999999;
  margin-top: -5px;
}

.chat-footer {
  padding: 15px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px; 
  font-size: 12px;
  width: 100%;
}
.chat-footer i{
  margin-left: 50%;
}

.input-group {
  flex-grow: 2;
  margin-right: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.text-space{
  background-color: #eceaea;
  width:100%;
  height:100%;
  resize: none;
  border: none;
}
.text-space:focus{
  outline: none !important;
}
.expand{
  margin-left: 95% !important;
  margin-top: -14% !important;
}

.ai-res p{
  color: black;
}

.footer{
  padding: 1px;
  margin-top: -15%;
}

.send-btn {
  background-color: transparent;
  padding: 10px 10px ;
  border: none;
  border-radius: 25px;
  margin-left: 63%;
}

.chat-container hr {
  margin:auto ;
  border: none;
  border-top: 2px solid #727272;
  display: none;
}
.footer i{
  margin-left: 13px !important;
}
.footer i:hover{
  cursor:pointer;
}
.expand:hover{
  cursor:pointer;
}
.aifooter{
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 28px;
  background-color: #eceaea;
}
.related{
  margin-top: -65px !important;
  margin-left: 80px;
}
.form-control{
  width: 65% !important;
  border-radius: 20px !important;
  margin-left: 80px;
  margin-top: 10px;
  box-shadow: 0 2px 10px rgb(180, 180, 180);
  height: 40px !important;
}
.sug{
  transition: transform 0.3s ease-in-out;
}
.sug:hover{
  transform: scale(1.2);
}
.More{
  margin-left: 95%;
  margin-top: -20% !important;
  text-decoration: none;
  color: #434242;
}
.ai{
  float: right;
  border-radius: 50%;
  margin-top: -10%;
  margin-right: -10%;
}
.bi-search{
  margin-left: 95%;
  margin-top: -17%;
}
.search-box{
  margin-top: -1%;
}

/* FOOTER */

.pt5{
  position: relative;
  width:100%;
  height: 30%;
  left:0;
  bottom: 0 !important;
  overflow:hidden;
}
.mt-3 a{
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 15px;
}
.col-md-3 p{
  color: rgb(93, 93, 93);
  margin-left: 6% !important;
}
.col-md-3 img{
  margin-top: -8%;
  margin-left: 6% !important;
}
.f-link{
  margin-top: 20% !important;
}
/* Typing animation */
.typing-animation::after {
  content: '|'; /* Display cursor */
  animation: blink 0.7s infinite alternate;
}
.api{
  display: none;
}
@keyframes blink {
  from {
    opacity: 0; /* Invisible cursor */
  }
  to {
    opacity: 1; /* Visible cursor */
  }
}