*{
    padding: 0;
    margin: 0;
}
.navbar-brand{
    margin-left: -70px;
}
.d-flex{
    width: 85% !important;
    margin-left: -30%;
    margin-top: -10px;
}
.fa-magnifying-glass{
    margin-top: 30px;
    margin-left: -5%;
}
.mag-glass{
    margin-left: -5%;
}
.fa-camera{
    margin-left: -45% !important;
}
.fa-microphone{
    margin-left: -20% !important;
}
.language{
    margin-right: -20% !important;
}
.fa-user{
    margin-right: -20% !important;
}
.fa-bars{
    margin-right: -2% !important;
}
.navbar-nav{
    margin-left: 15%;
}
.link{
    margin-left: 22% !important;
    text-decoration: none;
    color: #999999;
}
.link:hover{
    color: black;
}
