<% layout("/layouts/boilerplate") %>

<form method="post" action="/home/search" enctype="multipart/form-data">
    <input type="text" name="search[q]">
    <input type="file" name="search[file]">
    <button type="submit">Search</button>
</form>