<% layout("/layouts/boilerplate") %>


        <nav class="navbar bg-body-tertiary ">
            <div class="navb">
                <a class="navbar-brand" href="#">
                    <img src="/assets/language.png" alt="" width="50" height="49">
                </a>
                <% if(!currUser){ %>
                    <a href="/user/login" style="text-decoration: none;">
                        <button class="btn mt-2 btn-outline-light bg-dark d-flex button-x ">Sign In</button>
                    </a>
                    <% } %>
                    <% if(currUser){ %>
                        <a href="/user/logout" style="text-decoration: none;">
                            <button class="btn mt-2 btn-outline-light bg-dark d-flex button-x ">Logout</button>
                        </a>
                    <% } %>
                
                <i class="menu mt-4 fa-solid fa-bars fa-2xl" onclick="toggleMenu()" style="color: #ffffff;"></i>


                <!-- on click it will appear -->


            </div>
            <div class="menu-drop" id="menuDropdown">
                <i class="fa-solid fa-xmark close-icon"></i>
                <div class="menu-item">
                    <i class="fa-solid fa-circle-user fa-sm icon"></i>
                    <span>Account</span>
                </div>
                <div class="menu-item">
                    <i class="fa-solid fa-gear fa-sm icon" style="color: #ffffff;"></i>
                    <span>Settings</span>
                </div>
                <div class="menu-item">
                    <i class="fa-solid fa-lock fa-sm icon"></i>
                    <span>Safe search</span>
                </div>
                <div class="menu-item">
                    <i class="fa-regular fa-clock fa-sm icon"></i>
                    <span>Search History</span>
                </div>
                <div class="menu-item">
                    <i class="fa-solid fa-circle-half-stroke fa-sm icon"></i>
                    <span>Theme</span>
                    <i class="bi bi-chevron-down dropdown-arrow"></i>
                </div>
                <div class="theme-options" id="theme-options">
                    <div class="radio-option">
                        <input type="radio" id="light" name="theme" value="light">
                        <label for="light">Light</label>
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="dark" name="theme" value="dark" checked>
                        <label for="dark">Dark</label>
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="system" name="theme" value="system">
                        <label for="system">System Default</label>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <img class="card-img-top show-img" src="/assets/logo2.png">
            <form method="post" action="/home/search" enctype="multipart/form-data">
                <div class="search-body">
                    <div class="search">                        
                        <span class="search-icon material-symbols-outlined">search</span>
                        <div class="search-1">
                            <input class="search-input" type="search" name="search[q]" placeholder="Search"
                            autocomplete="off">
                        </div>
                        <div class="search-2">
                            <span class=" mic material-symbols-outlined"> mic</span>
                            <span class="img material-symbols-outlined"> center_focus_weak</span>
                        </div>
                    </div>
                    &nbsp; &nbsp; &nbsp; &nbsp; <a href="/ai"><div class="imga"></div></a>
                    </div>
                </div>
            </form>
        </div>
        <div class="custom-btn">
            <button class="custom-button">
              <i class="fa-solid fa-pen" style="color: #000000;"></i>&nbsp; Customize
            </button>
          </div>
        </div>
        </div>
        <footer id="footer">
            <div class="footer-container">
                <div class="branding-container">
                    <hr class="horizontal-line"> &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="branding-text">
                        <h3 class="skynet">SKYNET</h3> <!-- SKYNET text with gradient -->
                        <h4 class="made-in">Made in <span class="bharat">BHARAT</span></h4>
                        <!-- Made in Bharat text with gradient on Bharat -->
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <hr class="horizontal-line">
                </div>
                <ul class="footer-links">
                    <!-- Footer links with reduced size -->
                    <li><a href="/about">About</a></li>
                    <li><a href="/advertising">Advertising</a></li>
                    <li><a href="/business">Business</a></li>
                    <li><a href="/howsearch">How Skynet Works</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    <li><a href="/terms">Terms</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </footer>
        <script>
            function toggleMenu() {
                console.log('Toggle menu clicked');
                let menuDropdown = document.getElementById('menuDropdown');
                if (menuDropdown) {
                    console.log('Menu dropdown found');
                    if (menuDropdown.style.display == "block") {
                        menuDropdown.style.display = 'none';
                    }
                    else {
                        menuDropdown.style.display = "block"
                    }
                } else {
                    console.error('Error: Menu dropdown element not found.');
                }
            }

        </script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
