<% layout("/layouts/boilerplate2") %>

  <body>
    <%- include('../includes/searchpage-nav.ejs') %>
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <div class='main-container'>
              <div class='grid-container'>
                <div class='card card--2x'>
                  <div class="card__image">
                    <img
                      src='https://images.pexels.com/photos/247929/pexels-photo-247929.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
                  </div>
                </div>
                <div class='card'>
                  <div class='card__image'>
                    <img
                      src='https://images.pexels.com/photos/443416/pexels-photo-443416.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
                  </div>
                </div>
                <div class='card'>
                  <div class='card__image'>
                    <img
                      src='https://images.pexels.com/photos/542411/pexels-photo-542411.png?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
                  </div>
                </div>
                <div class='card'>
                  <div class='card__image'>
                    <img
                      src='https://images.pexels.com/photos/443416/pexels-photo-443416.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
                  </div>
                </div>
                <div class='card'>
                  <div class='card__image'>
                    <img
                      src='https://images.pexels.com/photos/542411/pexels-photo-542411.png?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
                  </div>
                </div>
              </div>
            </div>
            <div class="search-heading">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-stars"
                viewBox="0 0 16 16">
                <path
                  d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z" />
              </svg>
              <h2>DEMO</h2>
            </div>
            <div class="demo">
              <a href="#">www.demo.com</a>
              <p>this is the content of the search result.</p>
              <img
                src='https://images.pexels.com/photos/247929/pexels-photo-247929.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'
                height="10%" width="10%">
            </div>
            <div class="search-heading">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-stars"
                viewBox="0 0 16 16">
                <path
                  d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z" />
              </svg>
              <h2>DEMO</h2>
            </div>
            <div class="demo">
              <a href="#">www.demo.com</a>
              <p>this is the content of the search result.</p>
              <img
                src='https://images.pexels.com/photos/247929/pexels-photo-247929.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'
                height="10%" width="10%">
            </div>
            <div class="pages">
              <ul class="page-link">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>NEXT...</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">

            <div class="chat-container">

              <div class="chat-header">
                Skynet AI
                <img class="ai" src="/assets/AI.png" style="height: 80px; width: 80px;">
              </div>
              <div class="chat-body">
                <i class="fas fa-robot"></i>
                <div>
                  <p>
                    <%=q%>
                  </p>
                </div>
                <div>
                  <p style="margin-left: 25px;">Generating...</p>
                  <div class="AI"></div>
                </div>

              </div>
              <div class="aifooter">
                <div class="chat-footer">
                  <div class="input-group">
                    <textarea class="text-space" name="message" placeholder="SKYNET AI response..." required></textarea>
                    <div class="fa-sync-alt">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="180%" viewBox="0 0 512 512"
                        enable-background="new 0 0 512 512" xml:space="preserve">
                        <path fill="#000000" opacity="1.000000" stroke="none" d="
    M1.229891,407.399658 
        C1.000000,307.312439 1.000000,207.624878 1.000000,107.468658 
        C3.111715,94.417763 8.892592,83.805786 18.226786,75.142952 
        C29.660925,64.531227 42.994049,58.487385 58.796864,58.487297 
        C190.786774,58.486568 322.776703,58.482388 454.766602,58.491226 
        C479.512482,58.492882 502.510223,74.640274 510.921295,97.878784 
        C512.125244,101.205147 512.233093,104.721619 512.773804,108.598640 
        C513.000000,207.354233 513.000000,305.708466 513.000000,404.531342 
        C508.841644,432.373291 491.858398,447.606750 466.106720,454.541229 
        C463.018951,455.372742 459.864929,455.515198 456.688080,455.515167 
        C323.531830,455.514008 190.375534,455.573883 57.219387,455.453583 
        C34.317318,455.432892 11.240449,439.269958 2.735975,415.169830 
        C1.897492,412.793732 2.118373,410.216492 1.229891,407.399658 
    z" />
                        <path fill="#FFFFFF" opacity="1.000000" stroke="none" d="
    M513.000000,108.531342 
        C510.665497,103.494308 509.587708,97.575417 506.746979,92.188385 
        C497.949982,75.505981 484.288239,65.448120 466.164215,60.931053 
        C462.908051,60.119511 459.709656,60.004173 456.444427,60.004055 
        C323.062531,59.999306 189.680420,59.882576 56.299034,60.139206 
        C38.346912,60.173744 24.136246,69.179321 13.018878,83.016731 
        C7.393846,90.018021 4.234714,98.255264 1.366625,106.886864 
        C1.000000,72.853920 1.037112,38.707726 0.931208,4.561974 
        C0.922514,1.758912 1.273322,0.903502 4.434082,0.905507 
        C172.832474,1.012380 341.230957,1.014780 509.629333,0.893198 
        C512.971619,0.890785 513.058167,1.997037 513.052185,4.625337 
        C512.973755,39.104313 513.000000,73.583527 513.000000,108.531342 
    z" />
                        <path fill="#FFFFFF" opacity="1.000000" stroke="none" d="
    M1.000000,407.468658 
        C4.034878,411.354706 4.529537,416.735107 6.957812,421.393860 
        C15.675733,438.119568 29.330160,448.295532 47.378475,453.019714 
        C50.762760,453.905548 54.153061,454.009338 57.597118,454.009064 
        C189.589539,453.998352 321.582031,453.926544 453.574219,454.106812 
        C467.718109,454.126129 480.176788,449.840240 490.897034,441.349365 
        C502.419189,432.223358 509.842712,420.076874 512.620728,405.128662 
        C513.000000,439.812317 512.963806,474.624786 513.068420,509.436768 
        C513.076843,512.236328 512.731506,513.096863 509.567169,513.094849 
        C341.168854,512.987671 172.770432,512.985229 4.372140,513.106445 
        C1.034186,513.108887 0.941209,512.008545 0.947406,509.376160 
        C1.027013,475.563354 1.000000,441.750305 1.000000,407.468658 
    z" />
                        <path fill="#FFFFFF" opacity="1.000000" stroke="none" d="
    M235.000000,414.000000 
        C178.177216,414.000000 121.854340,414.050446 65.531731,413.951965 
        C55.777531,413.934906 47.259731,411.009155 43.057037,401.113983 
        C41.535374,397.531250 41.027943,393.606567 41.026436,389.720764 
        C40.992092,301.237335 40.958244,212.753860 41.059185,124.270554 
        C41.070301,114.524857 44.104370,106.005478 54.143284,102.012436 
        C57.583130,100.644218 61.310417,100.019279 65.040504,100.018623 
        C193.016541,99.996254 320.992584,99.969940 448.968567,100.060730 
        C458.540894,100.067520 466.858887,103.195610 470.944427,112.885620 
        C472.457062,116.473305 472.971710,120.394203 472.973236,124.279572 
        C473.007996,212.762985 473.041779,301.246460 472.940796,389.729767 
        C472.929688,399.475464 469.903625,408.016388 459.853363,411.979614 
        C456.101532,413.459106 452.046204,414.005768 447.959320,414.005341 
        C377.139557,413.997955 306.319763,414.000000 235.000000,414.000000 
    z" />
                        <path fill="#000000" opacity="1.000000" stroke="none" d="
    M379.991028,181.000000 
        C364.661438,180.999985 349.829498,180.896042 335.001099,181.080811 
        C331.726257,181.121597 330.856171,180.244415 330.919922,176.987381 
        C331.131775,166.160141 331.099518,155.324631 330.932770,144.495804 
        C330.888977,141.651657 331.711426,140.929199 334.516724,140.937912 
        C366.177429,141.036057 397.838654,141.037079 429.499329,140.936615 
        C432.329376,140.927643 433.071167,141.697083 433.062500,144.511063 
        C432.963959,176.505035 432.963684,208.499527 433.062897,240.493500 
        C433.071655,243.314468 432.322205,244.109253 429.493988,244.066360 
        C418.665100,243.902145 407.829498,243.865326 397.002411,244.081436 
        C393.725311,244.146866 392.892456,243.242126 392.921356,239.988983 
        C393.084290,221.660370 392.913727,203.328796 393.080078,185.000244 
        C393.109802,181.726089 392.253601,180.611237 388.982483,180.941406 
        C386.178223,181.224442 383.322754,181.000000 379.991028,181.000000 
    z" />
                        <path fill="#000000" opacity="1.000000" stroke="none" d="
    M109.000000,373.000000 
        C100.501480,372.999969 92.500015,372.876007 84.506035,373.066620 
        C81.673767,373.134125 80.928429,372.313110 80.937164,369.492981 
        C81.036301,337.499237 81.036041,305.504913 80.937485,273.511169 
        C80.928810,270.697388 81.665871,269.890015 84.501328,269.933258 
        C95.330124,270.098633 106.165588,270.133209 116.992683,269.919189 
        C120.260025,269.854584 121.108559,270.743347 121.079277,274.006073 
        C120.914795,292.334534 121.085304,310.666016 120.920647,328.994476 
        C120.891319,332.258270 121.745789,333.110199 125.007011,333.079315 
        C142.668808,332.912079 160.333878,333.088409 177.995667,332.920319 
        C181.262100,332.889221 182.146393,333.744995 182.080597,337.009125 
        C181.865646,347.669495 181.863068,358.339691 182.081787,368.999908 
        C182.149124,372.281830 181.234131,373.098145 177.986862,373.077423 
        C155.158676,372.931427 132.329117,373.000000 109.000000,373.000000 
    z" />
                      </svg>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="footer">
                  <i class="fas fa-microphone" style="color: black;"></i>
                  <i class="fas fa-camera" style="color: black;"></i>
                  <i class="fas fa-paperclip" style="color: black;"></i>
                  <i class="icon"></i>
                  <button class="send-btn"><i class="fas fa-paper-plane " style="color: black;"></i></button>
                </div>
              </div>
            </div>
            <div class="search-related">
              <h5 class="related">Searches related to your search</h5>
              <div class="search-link">
                <div class="search-box">
                  <input class="form-control me-2" type="search" placeholder="What is facebook?">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-search" viewBox="0 0 16 16">
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                  </svg>
                </div>
                <div class="search-box">
                  <input class="form-control me-2" type="search" placeholder="Who invented facebook?">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-search" viewBox="0 0 16 16">
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                  </svg>
                </div>
                <div class="search-box">
                  <input class="form-control me-2" type="search" placeholder="When was facebook invented?">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-search" viewBox="0 0 16 16">
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                  </svg>
                </div>
                <a class="More" href="#">More..</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../includes/footer.ejs') %>
        <script>
          function decodeEntities(encodedString) {
            var textArea = document.createElement('textarea');
            textArea.innerHTML = encodedString;
            return textArea.value;
          }

          const aires = document.querySelector('.AI');
          aires.innerHTML = decodeEntities('<%= text %>');

        </script>

  </body>