<% layout("/layouts/boilerplate3") %>

  <body>
    <div class="navai">
      <div class="icon"><a href="/home"><img src="/assets/skynetsmall.png"
            style="width: 80px;height: 80px; margin-left: 5px;"></i></a></div>
      <div class="icon icon1"><i class="fa-solid fa-user fa-sm" style="color: #ffffff;"></i></div>
      <div class="icon"><i class="fa-solid fa-comment-dots fa-sm" style="color: #ffffff;"></i></div>
      <div class="icon"><i class="fa-solid fa-bell-slash fa-xs" style="color: #ffffff;"></i></div>
      <div class="icon ic"><img src="/assets/camera.png" width="30px" height="30px"></div>
    </div>
    <div class="skynet-container">
      <div class="header">
        <span style="font-weight: bold;" class="dropdown-text">Skynet AI <i
            class="fa-solid fa-angle-down fa-lg dropdown-icon" style="color: #000000;"></i></span>
        <div id="skynet-dropdown" class="dropdown-cont" style="display: none;">
          <div class="container">
            <div class="section">
              Conversations
            </div>
            <hr>
            <div class="section1 dropdown-section">
              <div  class="rec-chats"  onclick="toggleDropdown('recent-chats', this)">
                <i class="fa-solid fa-location-dot fa-2xs" style="color: #000000;"></i>
                <h6>Recent chats</h6> <i class="fa-solid fa-angle-up fa-sm angle-icon" style="color: #000000;"></i>
              </div>
              <div id="recent-chats" class="chat-list dropdown-conten" style="display: block;">
                          <div class="chat-item" onmouseover="highlightItem(this)" onmouseout="removeHighlight(this)">
                              <h6>Alice</h6>
                              <i class="fa-solid fa-share-nodes share-icon" style="color: #000000;"></i>
                              <i class="fas fa-thumbtack pin-icon" onclick="togglePin(this)"></i>
                          </div>
                          <div class="chat-item" onmouseover="highlightItem(this)" onmouseout="removeHighlight(this)">
                              <h6>Bob</h6>
                              <i class="fa-solid fa-share-nodes share-icon" style="color: #000000;"></i>
                              <i class="fas fa-thumbtack pin-icon" onclick="togglePin(this)"></i>
                          </div>
                          <div class="chat-item" onmouseover="highlightItem(this)" onmouseout="removeHighlight(this)">
                            <h6>Frank</h6>
                            <i class="fa-solid fa-share-nodes share-icon" style="color: #000000;"></i>
                            <i class="fas fa-thumbtack pin-icon" onclick="togglePin(this)"></i>
                        </div>
                        <div class="chat-item" onmouseover="highlightItem(this)" onmouseout="removeHighlight(this)">
                          <h6>Eve</h6>
                          <i class="fa-solid fa-share-nodes share-icon" style="color: #000000;"></i>
                          <i class="fas fa-thumbtack pin-icon" onclick="togglePin(this)"></i>
                      </div>
                      <div class="chat-item" onmouseover="highlightItem(this)" onmouseout="removeHighlight(this)">
                        <h6>Grave</h6>
                        <i class="fa-solid fa-share-nodes share-icon" style="color: #000000;"></i>
                        <i class="fas fa-thumbtack pin-icon" onclick="togglePin(this)"></i>
                    </div>
                    
               </div>           
            </div>
            <div class="btn">
              <button class="start-chat-btn"> <i class="fas fa-pen"></i>Start New Chat</button>
            </div>
          </div>
        </div>
        <div class="search-bar">
          <i class="fa-solid fa-magnifying-glass fa-xs" style="color: #000000;"></i>
          <input class="search-bar-input" type="search" placeholder="Search Pinned Chats here">
        </div>
      </div>
      <div class="username-container">
        <div class="username">Username</div>
        <div class="icons-right">
          <div class="image-container "><img src="/assets/robot.jpg" width="35px" height="35px">
            <div class="dropdown-content">
              <div class="profile">
                <div class="profile-container">
                  <i class="fas fa-times"></i>
                  <div class="avatar">
                    <img src="/assets/robot.jpg" alt="Robot Avatar">
                  </div>
                  <h3>Username</h3>
                  <div class="status">
                    <span class="status-dot"></span> Online
                  </div>
                  <div class="info">
                    <div class="inform">
                      <p>Role</p>
                      <p>Category</p>
                      <p>Style</p>
                    </div>
                    <div class="information">
                      <p>AI chatbot</p>
                      <p>Overall</p>
                      <p>Balanced</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="icon moon-icon">
            <span class="material-symbols-outlined dark-mode-icon">light_mode</span>
            <span class="material-symbols-outlined light-mode-icon">dark_mode</span>
          </div>

        </div>
      </div>
      <div class="chatbox" id="chatbox">
        <div class="chat-area" id="default-text-container">
          <div class="default-text">
              <img src="/assets/skynetsmall.png" alt="Skynet Logo">
              <h1>Welcome to Skynet AI</h1>
              <p>Type your issue and explore the power of AI.</p>
          </div>
      <div class="chat-area">
        <div class="chat-message" id="chat-messages-container">
          <strong><i class="fas fa-robot"></i> Skynet AI <span class="timestamp">3:30 PM</span></strong>
          <div class="icons-right">
            <i class="fas fa-thumbtack pinned-icon"></i>
          </div>
          <div class="text">Hey Buddy, how can I help you?</div>
        </div>
        <!-- Add more chat messages here -->
      </div>
    </div>
    <form method="POST" action="/ai" enctype="multipart/form-data">
      <div class="aifooter">
        <div class="chat-footer">
          <div class="input-group">
              <div class="url-input" style="display: none;">
                <input type="text" class="url-space" placeholder="Paste your URL...">
              </div>
              <div class="contain">
                <textarea class="text-space" name="ai[input]" placeholder="Ask me anything..." required></textarea>
                <span class="icons-container">
                  <i class="fas fa-a iconss"></i>
                  <i class="fas fa-paperclip iconss" id="paperclip-icon">
                    <input type="file" class="file-input" name="file" id="fileInput" style="display: none;" />
                  </i>
                  <!---<i class="fas fa-link iconss"></i>--->
                  <i class="fas fa-microphone iconss"></i>
                  <i class="iconsss"></i>
                  <button class="send-btn iconss" type="submit"><i class="fas fa-paper-plane"></i></button>
                </span>
              </div>
            </div>
          </div>
    </form>
    <script>
    function toggleDropdown(id, icon) {
      const dropdownContent = document.getElementById(id);
      const angleIcon = icon.querySelector('.angle-icon');
  
      if (dropdownContent.style.display === 'block' || dropdownContent.style.display === '') {
          dropdownContent.style.display = 'none';
          angleIcon.style.transform = 'rotate(180deg)';
      } else {
          dropdownContent.style.display = 'block';
          angleIcon.style.transform = 'rotate(0deg)';
      }
  }
  </script>
  </body>