<% layout("/layouts/boilerplate3") %>

  <body>
    <div class="navbar">
      <div class="icon"><a href="/home"><img src="/assets/skynetsmall.png"
            style="width: 80px;height: 80px; margin-left: 5px;"></i></a></div>
      <div class="icon icon1"><i class="fa-solid fa-user fa-sm" style="color: #ffffff;"></i></div>
      <div class="icon"><i class="fa-solid fa-comment-dots fa-sm" style="color: #ffffff;"></i></div>
      <div class="icon"><i class="fa-solid fa-bell-slash fa-xs" style="color: #ffffff;"></i></div>
      <div class="icon ic"><img src="/assets/camera.png" width="30px" height="30px"></div>
    </div>
    <div class="skynet-container">
      <div class="header">
        <span style="font-weight: bold;" class="dropdown-text">Skynet AI <i
            class="fa-solid fa-angle-down fa-lg dropdown-icon" style="color: #000000;"></i></span>
        <div id="skynet-dropdown" class="dropdown-cont" style="display: none;">
          <div class="container">
            <div class="section">
              Conversations
            </div>
            <hr>
            <div class="section1 dropdown-section">
              <div class="important dropdown-toggle" onclick="toggleDropdown('recent-chats', this)">
                <i class="fa-solid fa-location-dot fa-2xs" style="color: #000000;"></i>
                <h6>Recent chats</h6> <i class="fa-solid fa-angle-up fa-sm angle-icon" style="color: #000000;"></i>
              </div>
              <ul id="recent-chats" class="chat-list dropdown-conten" style="display: none;">
                <div class="alice">
                  <h6>Alice</h6><i class="fa-solid fa-share-nodes" style="color: #000000;"></i> <i
                    class="fas fa-thumbtack"></i>
                </div>
                <div class="name">Bob</div>
                <div class="name">Carol</div>
                <div class="name"><i class="fas fa-thumbtack"></i> Carol</div>
                <div class="name">Eve</div>
                <div class="name">Frank</div>
                <div class="name">Grace</div>
                <div class="name">Grace</div>
                <div class="name">Ivy</div>
              </ul>
            </div>
            <hr class="hell">
            <div class="section2 dropdown-section">
              <div class="important dropdown-toggle" onclick="toggleDropdown('trending-questions', this)">
                <i class="fa-solid fa-droplet fa-2xs" style="color: #000000;"></i>
                <h6>Trending Questions</h6> <i class="fa-solid fa-angle-up fa-sm angle-icon"
                  style="color: #000000;"></i>
              </div>
              <ul id="trending-questions" class="trending-list dropdown-conten" style="display: none;">
                <div class="name2">Alice, David</div>
                <div class="name2">David, Grace</div>
                <div class="name2">Boby,Lily,Kevin</div>
                <div class="name3">
                  <h6>Kevin, Alice</h6><button class="more-btn">More</button>
                </div>
                <div class="name2">Eve,Nora,Mike</div>
              </ul>
            </div>
            <div class="btn">
              <button class="start-chat-btn"> <i class="fas fa-pen"></i>Start New Chat</button>
            </div>
          </div>
        </div>
        <div class="search-bar">
          <i class="fa-solid fa-magnifying-glass fa-xs" style="color: #000000;"></i>
          <input class="search-bar-input" type="search" placeholder="Search Pinned Chats here">
        </div>
      </div>
      <div class="username-container">
        <div class="username">Username</div>
        <div class="icons-right">
          <div class="image-container "><img src="/assets/robot.jpg" width="35px" height="35px">
            <div class="dropdown-content">
              <div class="profile">
                <div class="profile-container">
                  <i class="fas fa-times"></i>
                  <div class="avatar">
                    <img src="/assets/robot.jpg" alt="Robot Avatar">
                  </div>
                  <h3>Username</h3>
                  <div class="status">
                    <span class="status-dot"></span> Online
                  </div>
                  <div class="info">
                    <div class="inform">
                      <p>Role</p>
                      <p>Category</p>
                      <p>Style</p>
                    </div>
                    <div class="information">
                      <p>AI chatbot</p>
                      <p>Overall</p>
                      <p>Balanced</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="icon moon-icon">
            <span class="material-symbols-outlined dark-mode-icon">light_mode</span>
            <span class="material-symbols-outlined light-mode-icon">dark_mode</span>
          </div>

        </div>
      </div>
      <div class="chatbox" id="chatbox">
        <% if (chatHs && chatHs.history && chatHs.history.length>= 2) { %>
          <% for (let i=0; i < chatHs.history[0].parts.length; i++) { %>
            <div class="chat-area">
            <div class="chat-message">
              <strong><i class="fas fa-user"></i> User: <span class="timestamp">3:30 PM</span></strong>
              <div class="icons-right">
                <i class="fas fa-thumbtack pinned-icon"></i>
              </div>
              <div class="text"><%= chatHs.history[0].parts[i].text %></div>
            </div>
            <% if (chatHs.history[1].parts[i].text == 'Hello! I am Skynet, a multi-modal AI language model developed by Twoward Technology') { %>
            <% i = i+1; %>
              <div class="chat-message">
                <strong><i class="fas fa-robot"></i> Skynet AI <span class="time">3:30 PM</span></strong>
                <div class="icons-right">
                  <i class="fas fa-thumbtack pinned-icon"></i>
                </div>
                <div class="text"><%= chatHs.history[1].parts[i].text %></div>
              </div>
            <% i = i-1;%>
            <% } else { %>
              <% i = i+1; %>
              <div class="chat-message">
                <strong><i class="fas fa-robot"></i> Skynet AI <span class="time">3:30 PM</span></strong>
                <div class="icons-right">
                  <i class="fas fa-thumbtack pinned-icon"></i>
                </div>
                <div class="text"><%= chatHs.history[1].parts[i].text %></div>
              </div>
              <% i = i-1;%>
              <% } %>
            </div>  
          <% } %>
        <% } %>
      </div>
    </div>
      <form method="POST" action="/ai" enctype="multipart/form-data">
      <div class="aifooter">
        <div class="chat-footer">
          <div class="input-group">
            <textarea class="text-space" name="ai[input]" placeholder="Ask me anything..." required></textarea>
          </div>
          <div class="url-input" style="display: none;">
            <input type="text" class="url-space" placeholder="Paste your URL...">
          </div>
          <hr class="hr">
          <div class="iconss">
            <i class="fas fa-a"></i>
            <i class="fas fa-paperclip" id="paperclip-icon">
              <input type="hidden" name="_id" value="<%= chatHs ? chatHs._id : '' %>">
              <input type="file" class="file-input" name="file" id="fileInput" style="display: none;" />
            </i>


            <i class="fas fa-link"></i>
            <i class="fas fa-microphone"></i>
            <i class="iconsss"></i>
            <button class="send-btn" type="submit"><i class="fas fa-paper-plane"></i></button>
          </div>
        </div>
      </div>
      </form>
      <script>
        // JavaScript code to scroll down to the bottom of the chatbox
        // This code will execute after the chat messages are loaded
        document.addEventListener("DOMContentLoaded", function() {
          var chatbox = document.getElementById("chatbox");
          chatbox.scrollTop = chatbox.scrollHeight;
        });
      </script>
  </body>